* {

    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.top-bar {

    background-color: aqua;
    display: flex;
    justify-content: center;
    min-height: 60px;
}

.top {

    background-color: orange;
    width: 25%;
    border: dotted 3px black;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;


    
}

.logo {

    display: flex;
    justify-content: flex-start;

}

.links {

    display: flex;
    justify-content: center;
}

.login {

    display: flex;
    justify-content: flex-end;
}

.leader {

    background-color: blue;
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.leader .content {

    background-color: pink;
    border: 3px dotted black;
    min-height: 300px;
    width: 80%;
}

.sectionA , .sectionB {

    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sectionA {

    background-color: white;
    width: 100%;
}

.sectionB {

    background-color: grey;
    width: 100%;
}

.products {

    background-color: lightblue;
    min-width: 400px ;

}

.description {

    background-color: pink;
    min-width: 200px;

}

.products , .description {

    border: dotted 1px black;
    min-height: 300px;
    
}

.bigone {

    background-color: green;
    min-width: 600px;
    min-height: 300px;
}

footer {

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    padding: 10px;
}

.columnbig , .column {

    min-height: 300px;
    border: white 1px dotted;
}

.columnbig {

    min-width: 200px;
    background-color: pink;
}

.column {

    min-width: 100px;
    background-color: aqua;
}

.tail {

    width: 600px;
    margin: auto;
    padding-top: 10px;
    min-height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightgreen;
    
}

.tail span {

    background-color: pink;
    border:  1px dotted black;
}

hr {

    color: white;
}

.pretail {

    background-color: black;
    padding: 10px;
}