* {

    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.top-bar {

    background-color: #285cec;
    display: flex;
    justify-content: center;
    min-height: 60px;
}

.top {

    width: 25%;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;


    
}

.logo {

    display: flex;
    justify-content: flex-start;

}

.links {

    display: flex;
    justify-content: space-around;
}

.login {

    display: flex;
    justify-content: flex-end;

}


.leader {

    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.leader .pre-content {


    min-height: 300px;
    width: 80%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.sectionA , .sectionB {

    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sectionA {

    background-color: white;
    width: 100%;
}

.sectionB {

    background-color: grey;
    width: 100%;
}

.products {

    background-color: lightblue;
    min-width: 400px ;

}

.description {

    background-color: pink;
    min-width: 200px;

}

.products , .description {

    border: dotted 1px black;
    min-height: 300px;
    
}

.bigone {

    background-color: green;
    min-width: 600px;
    min-height: 300px;
}

footer {

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    padding: 10px;
}

.columnbig , .column {

    min-height: 300px;
    border: white 1px dotted;
}

.columnbig {

    min-width: 200px;
    background-color: pink;
}

.column {

    min-width: 100px;
    background-color: aqua;
}

.tail {

    width: 600px;
    margin: auto;
    padding-top: 10px;
    min-height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightgreen;
    
}

.tail span {

    background-color: pink;
    border:  1px dotted black;
}

hr {

    color: white;
}

.pretail {

    background-color: black;
    padding: 10px;
}


a:link {

    color: white;
    text-decoration: none;
}

.btn {

    background-color: white;
    border: none;
    border-radius: 20px;
    padding: 8px 12px;
}

.black {

    color: white;
    background-color: black;
}

.post-content {

    text-align: center;
    color: white;
    
}

.post-content h1 {

    margin-bottom: 20px;
}

.post-content p {

    margin-bottom: 20px;
}

.post-content .btn {

    margin-left: 10px;
}

